*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

.limitar-secao{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
}


.container-logo{
    
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    
}
.container-logo a{
    font-size: 24px;
    color: #3d3d3d;
    cursor: pointer;
}

.container-logo a span{
    color: #6592c9;
}
.links-topo{
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url('../IMAGENS/img-fundo.jpg');
    background-position:center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 20px;
    font-size: 28px;
    color: #fff;
    background-color: #0a9077b3;
    border: 1px solid #fff;
    border-radius: 4px;
    text-align: center;
}
.texto-boasvindas{

    margin: 30px auto;
    font-weight: 200;
    color: #3d3d3d;
}
.texto-boasvindas h2{
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: normal;
}

.container-quartos img{
    width: 280px;
}

.container-quartos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.container-quartos a{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    color: #3d3d3d;
    cursor: pointer;
}

.card-quarto{
    border-bottom: 1px solid;
}

.texto-rota{
    margin: 20px auto;
    font-weight: 200;
    color: #3d3d3d;
}
.texto-rota h2{
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: normal;
}

.conteudo-pousada{
    margin: 30px auto;
    font-weight: 200;
    color: #3d3d3d;
}

.conteudo-pousada h2{
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: normal;
}


/*CSS DA SEÇÃO SOBRE DOS QUARTOS*/

.container-card-sobre{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    gap: 30px;
}

.card-descricao{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.card{
    width: 500px;
    height: 111px;
    display: flex;
    background-color: #f1f1f1;

}

.card-descricao-img{
    width: 30%;
    height: 100%;

}

.card-descricao-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}


/* CSS DO RODAPÉ */

.container-rodape{
    background-color: #49997d;
    color:#fff;
}
.conteudo-rodape{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    gap: 10px;
    padding: 60px;
    max-width: 1024px;
}

.conteudo-rodape img{
    width: 30px;
    margin-right: 2px;
}

.conteudo-rodape h3{
    width: 150px;
}

.container-rodape p{
    margin-left: 1px;
    font-size: 13px;
}

.container-rodape a{
    color: #fff;
}

.container-coyprigth{
    border-top: 1px solid;
    padding: 20px;
}